@media only screen and (min-width: 600px) {
    
    * {
        font-family: Georgia;
        font-size: 25px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    header {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        padding: 1% auto;
        margin-top: 2% auto;
    }

    a {
        display: contents;
        text-decoration: none;
        color: #000000;
    }

    #quit-button {
        border: solid;
        border-color: #5f965a;
        background-color: #b8f5b3;
        font-size: 20px;
    }

    #quit-button:hover {
        background-color: #388131;
        cursor: pointer;
    }

    #content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
    }

    .game-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 30px;
        min-width: 360px;
    }

    .info {
        background-color: #b8f5b3;
        text-align: center;
        padding: 10px 0px;
    }

    #user-score {
        min-width: 90px;
        min-height: 30px;
        border: solid;
        border-right: 0;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    #slash {
        min-width: 90px;
        min-height: 30px;
        border: solid;
        border-right: 0;
        border-left: 0;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    #needed-score {
        min-width: 90px;
        min-height: 30px;
        border: solid;
        border-left: 0;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    #timer {
        min-width: 90px;
        min-height: 30px;
        border: solid;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    .task-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 360px;
    }
    
    #task {
        min-width: 270px;
        min-height: 30px;
        border: solid;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    #answer {
        min-width: 90px;
        min-height: 30px;
        border: solid;
        border-color: #5f965a;
        margin: 0% 0% 1% 0%;
    }

    .keyboard {
        display: flex;
    }

    .numpad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1% 0%;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-self: stretch;
    }

    .number {
        background-color: #b8f5b3;
        border: solid;
        border-color: #5f965a;
        color: #000000;
        text-align: center;
        padding: 20px;
        min-width: 80px;
        min-height: 80px;
    }

    #zero {
        min-width: 160px;
    }

    .button-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .action-button {
        background-color: #b8f5b3;
        border: solid;
        border-color: #5f965a;
        color: #000000;
        text-align: center;
        padding: 20px;
        min-width: 120px;
        min-height: 160px;
    }

    button:hover {
        cursor: pointer;
        background-color: #388131;
    }

    #game-end-dialog {
        min-width: 360px;
        max-height: 500px;
    }

    .game-end-text {
        color: #000000;
        text-align: center;
    }

    .error {
        color: #000000;
        text-align: center;
    }

    a {
        display: contents;
    }

    #back-button {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: #b8f5b3;
        border: solid;
        border-color: #5f965a;
        color: #000000;
        text-align: center;
    }
    
    #back-button:hover {
        background-color: #388131;
    }
}
